
<%= error_messages_for :contact, :header_message => "Invalid Contact" %>
<fieldset>
  <legend>Personal Information</legend>
  <label>First Name</label>  
  <%= form.text_field :first_name, :size => 15, :class => "first-name" %>
  <label>Last Name</label>
  <%= form.text_field :last_name, :size => 15 %>
  <label>Email</label>
  <%= form.text_field :email %>
</fieldset>
<fieldset>
  <legend>Social Information</legend>
  <label>Group</label>
  <%= form.text_field :twitter %>
  <label>Twitter</label>
  <%= form.submit "save" %>
</fieldset>
