<h1>Contacts</h1>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>


<% form_tag contacts_path, :method => :get do %> 
  <fieldset class="col6">
  <%= text_field_tag :search, "search", :id => 'search' %>
  <%= submit_tag 'search' %>
  </fieldset>
<% end %>

<table border="1">
  <thead>
    <tr>
			<td>Firstname</td>
			<td>Lastname</td>
			<td>Email</td>
			<td>Groups</td>
      <td>Addresses</td>			
      <td>Share</td>
			<td></td>
			<td></td>
		</tr>
  </thead>
	<tbody>
	  <% @contacts.each do |contact| %>
		<tr>
			<td><%= h contact.first_name %></td>
			<td><%= h contact.last_name %></td>
			<td><%= h contact.email %></td>
			<td>
			  <%= h contact.groups.map{|g| g.name }.join(", ") %>
			</td>
      <td><%= link_to "addresses", contact_addresses_path(contact) %></td>
			<td><%= shared_contact_url(devolve_el_chorizo(contact)) %></td>
			<td><%= link_to "[ Edit ]", edit_contact_path(contact) %></td>
			<td><%= link_to "[ Delete ]", contact_path(contact), :method => "delete", :confirm => "Seguro?" %></td>
		</tr>
    <% end %>
	</tbody>
</table>
<%= will_paginate @contacts %>

<%= link_to "Add a contact", new_contact_path %>



