!!!
%html
  %head
    = javascript_include_tag 'mootools-core-1.2.3.js','mootools-more-1.2.3.1','observer','autocompleter','autocompleter.request', 'application' 
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
    = stylesheet_link_tag 'Autocompleter.css', :media => 'screen, projection'

  %body#container

    #page

      %header
        %nav
          %ul
            %li 
              = link_to 'Home', root_path
            %li 
              = link_to 'Add Contact', new_contact_path
            %li Add Group
            %li Mailer
            %li My Account
            
            =render :partial => "layouts/user_bar"

              

      #content
        =yield

      %footer
        %ul
          %li About Us
          %li Contact Us
